# Synthetic Data Generation with Markov Model

## Check Data

In [1]:
import sys
sys.path.insert(0, '..')

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

import random
import networkx as nx
import matplotlib.pyplot as plt


from graphviz import Digraph
from IPython.display import display

In [2]:
df = pd.read_csv('../data_for_markov_model/processed_SmartTag_(nearby).csv', index_col=0)
df

,Length Packet,Length Header,Length MS Data,Length Service Data,CH 37,CH 38,CH 39,AD Manufacturer Specific,AD Flags,AD Tx Power Level,...,PDU ADV_NONCONN_IND,PDU ADV_SCAN_IND,PDU Other,CT 07,CT 12,CT Other,ST 3,ST 5,ST Other,Label
0,63,37,0,160,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
1,63,37,0,160,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
2,63,37,0,160,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
3,63,37,0,160,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
4,63,37,0,160,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24033,63,37,0,160,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
24034,63,37,0,160,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
24035,63,37,0,160,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
24036,63,37,0,160,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
24037,63,37,0,160,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)

In [3]:
# check data size
print("data size: ", df.shape)

# check unique values for each column
# 各値のユニークな値の個数も表示して
for column in df.columns:
    unique_values = df[column].unique()
    print(f'Column: {column}')
    print(f'Unique values: {unique_values}')
    print('---')

data size:  (24038, 30)
Column: Length Packet
Unique values: [63 32 36 38]
---
Column: Length Header
Unique values: [37  6 12]
---
Column: Length MS Data
Unique values: [  0 176]
---
Column: Length Service Data
Unique values: [160   0]
---
Column: CH 37
Unique values: [1 0]
---
Column: CH 38
Unique values: [0 1]
---
Column: CH 39
Unique values: [0 1]
---
Column: AD Manufacturer Specific
Unique values: [0]
---
Column: AD Flags
Unique values: [1 0]
---
Column: AD Tx Power Level
Unique values: [0]
---
Column: AD Service Data - 16 bit UUID
Unique values: [1 0]
---
Column: AD 16-bit Service Class UUIDs
Unique values: [0]
---
Column: AD 16-bit Service Class UUIDs (incomplete)
Unique values: [1 0]
---
Column: AD Other
Unique values: [0 1 2]
---
Column: COMP Apple
Unique values: [0]
---
Column: COMP Other
Unique values: [0]
---
Column: UUID Samsung
Unique values: [2 0 1]
---
Column: UUID Tile
Unique values: [0]
---
Column: UUID Other
Unique values: [0 1]
---
Column: PDU ADV_IND
Unique values: [1 0]
---
Column: PDU ADV_NONCONN_IND
Unique values: [0]
---
Column: PDU ADV_SCAN_IND
Unique values: [0]
---
Column: PDU Other
Unique values: [0 1]
---
Column: CT 07
Unique values: [0]
---
Column: CT 12
Unique values: [0]
---
Column: CT Other
Unique values: [0]
---
Column: ST 3
Unique values: [0]
---
Column: ST 5
Unique values: [1 0]
---
Column: ST Other
Unique values: [0 1]
---
Column: Label
Unique values: ['SmartTag (nearby)']
---

In [4]:
# check value counts for each column
for column in df.columns:
    print(f'Column: {column}')
    print(df[column].value_counts())
    print('---')

Column: Length Packet
Length Packet
63    23837
32       95
38       95
36       11
Name: count, dtype: int64
---
Column: Length Header
Length Header
37    23848
6        95
12       95
Name: count, dtype: int64
---
Column: Length MS Data
Length MS Data
0      24036
176        2
Name: count, dtype: int64
---
Column: Length Service Data
Length Service Data
160    23832
0        206
Name: count, dtype: int64
---
Column: CH 37
CH 37
1    14499
0     9539
Name: count, dtype: int64
---
Column: CH 38
CH 38
0    16883
1     7155
Name: count, dtype: int64
---
Column: CH 39
CH 39
0    21654
1     2384
Name: count, dtype: int64
---
Column: AD Manufacturer Specific
AD Manufacturer Specific
0    24038
Name: count, dtype: int64
---
Column: AD Flags
AD Flags
1    23848
0      190
Name: count, dtype: int64
---
Column: AD Tx Power Level
AD Tx Power Level
0    24038
Name: count, dtype: int64
---
Column: AD Service Data - 16 bit UUID
AD Service Data - 16 bit UUID
1    23832
0      206
Name: count, dtype: int64
---
Column: AD 16-bit Service Class UUIDs
AD 16-bit Service Class UUIDs
0    24038
Name: count, dtype: int64
---
Column: AD 16-bit Service Class UUIDs (incomplete)
AD 16-bit Service Class UUIDs (incomplete)
1    23836
0      202
Name: count, dtype: int64
---
Column: AD Other
AD Other
0    24033
1        4
2        1
Name: count, dtype: int64
---
Column: COMP Apple
COMP Apple
0    24038
Name: count, dtype: int64
---
Column: COMP Other
COMP Other
0    24038
Name: count, dtype: int64
---
Column: UUID Samsung
UUID Samsung
2    23830
0      204
1        4
Name: count, dtype: int64
---
Column: UUID Tile
UUID Tile
0    24038
Name: count, dtype: int64
---
Column: UUID Other
UUID Other
0    24034
1        4
Name: count, dtype: int64
---
Column: PDU ADV_IND
PDU ADV_IND
1    23848
0      190
Name: count, dtype: int64
---
Column: PDU ADV_NONCONN_IND
PDU ADV_NONCONN_IND
0    24038
Name: count, dtype: int64
---
Column: PDU ADV_SCAN_IND
PDU ADV_SCAN_IND
0    24038
Name: count, dtype: int64
---
Column: PDU Other
PDU Other
0    23848
1      190
Name: count, dtype: int64
---
Column: CT 07
CT 07
0    24038
Name: count, dtype: int64
---
Column: CT 12
CT 12
0    24038
Name: count, dtype: int64
---
Column: CT Other
CT Other
0    24038
Name: count, dtype: int64
---
Column: ST 3
ST 3
0    24038
Name: count, dtype: int64
---
Column: ST 5
ST 5
1    23831
0      207
Name: count, dtype: int64
---
Column: ST Other
ST Other
0    24037
1        1
Name: count, dtype: int64
---
Column: Label
Label
SmartTag (nearby)    24038
Name: count, dtype: int64
---

In [5]:
# Extract data where 2 or more of the columns CH37, CH38, CH39 are 1　=> NOTHING
# CH37, CH38, CH39のカラムのうち2つ以上が1のデータを抽出
filtered_data = df[(df['CH 37'] + df['CH 38'] + df['CH 39']) >= 2]
print(filtered_data)

Empty DataFrame
Columns: [Length Packet, Length Header, Length MS Data, Length Service Data, CH 37, CH 38, CH 39, AD Manufacturer Specific, AD Flags, AD Tx Power Level, AD Service Data - 16 bit UUID, AD 16-bit Service Class UUIDs, AD 16-bit Service Class UUIDs (incomplete), AD Other, COMP Apple, COMP Other, UUID Samsung, UUID Tile, UUID Other, PDU ADV_IND, PDU ADV_NONCONN_IND, PDU ADV_SCAN_IND, PDU Other, CT 07, CT 12, CT Other, ST 3, ST 5, ST Other, Label]
Index: []

[0 rows x 30 columns]

In [6]:
# Filter data where 'Length Packet' is 36
length_packet_36_data = df[df['Length Packet'] == 36]
print(length_packet_36_data)

       Length Packet  Length Header  Length MS Data  Length Service Data  \
536               36             37               0                    0
2250              36             37               0                    0
2463              36             37               0                    0
3511              36             37               0                    0
7006              36             37               0                    0
7089              36             37               0                    0
8679              36             37               0                    0
10868             36             37               0                    0
12689             36             37               0                    0
15501             36             37               0                    0
18978             36             37               0                    0

       CH 37  CH 38  CH 39  AD Manufacturer Specific  AD Flags  \
536        0      1      0                         0         1
2250       0      1      0                         0         1
2463       0      1      0                         0         1
3511       0      1      0                         0         1
7006       0      1      0                         0         1
7089       0      1      0                         0         1
8679       0      1      0                         0         1
10868      0      1      0                         0         1
12689      0      1      0                         0         1
15501      0      1      0                         0         1
18978      0      1      0                         0         1

       AD Tx Power Level  ...  PDU ADV_NONCONN_IND  PDU ADV_SCAN_IND  \
536                    0  ...                    0                 0
2250                   0  ...                    0                 0
2463                   0  ...                    0                 0
3511                   0  ...                    0                 0
7006                   0  ...                    0                 0
7089                   0  ...                    0                 0
8679                   0  ...                    0                 0
10868                  0  ...                    0                 0
12689                  0  ...                    0                 0
15501                  0  ...                    0                 0
18978                  0  ...                    0                 0

       PDU Other  CT 07  CT 12  CT Other  ST 3  ST 5  ST Other  \
536            0      0      0         0     0     0         0
2250           0      0      0         0     0     0         0
2463           0      0      0         0     0     0         0
3511           0      0      0         0     0     0         0
7006           0      0      0         0     0     0         0
7089           0      0      0         0     0     0         0
8679           0      0      0         0     0     0         0
10868          0      0      0         0     0     0         0
12689          0      0      0         0     0     0         0
15501          0      0      0         0     0     0         0
18978          0      0      0         0     0     0         0

                   Label
536    SmartTag (nearby)
2250   SmartTag (nearby)
2463   SmartTag (nearby)
3511   SmartTag (nearby)
7006   SmartTag (nearby)
7089   SmartTag (nearby)
8679   SmartTag (nearby)
10868  SmartTag (nearby)
12689  SmartTag (nearby)
15501  SmartTag (nearby)
18978  SmartTag (nearby)

[11 rows x 30 columns]

In [7]:
AD_other = df[df['AD Other'] != 1]
AD_other

,Length Packet,Length Header,Length MS Data,Length Service Data,CH 37,CH 38,CH 39,AD Manufacturer Specific,AD Flags,AD Tx Power Level,...,PDU ADV_NONCONN_IND,PDU ADV_SCAN_IND,PDU Other,CT 07,CT 12,CT Other,ST 3,ST 5,ST Other,Label
0,63,37,0,160,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
1,63,37,0,160,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
2,63,37,0,160,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
3,63,37,0,160,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
4,63,37,0,160,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24033,63,37,0,160,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
24034,63,37,0,160,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
24035,63,37,0,160,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
24036,63,37,0,160,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
24037,63,37,0,160,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)

In [8]:
UUID_other = df[df['UUID Other'] == 1]
UUID_other

,Length Packet,Length Header,Length MS Data,Length Service Data,CH 37,CH 38,CH 39,AD Manufacturer Specific,AD Flags,AD Tx Power Level,...,PDU ADV_NONCONN_IND,PDU ADV_SCAN_IND,PDU Other,CT 07,CT 12,CT Other,ST 3,ST 5,ST Other,Label
8834,63,37,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,SmartTag (nearby)
18551,63,37,0,160,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,SmartTag (nearby)
21125,63,37,0,160,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,SmartTag (nearby)
21950,63,37,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,SmartTag (nearby)

In [9]:
ST_other = df[df['ST Other'] == 1]
ST_other

,Length Packet,Length Header,Length MS Data,Length Service Data,CH 37,CH 38,CH 39,AD Manufacturer Specific,AD Flags,AD Tx Power Level,...,PDU ADV_NONCONN_IND,PDU ADV_SCAN_IND,PDU Other,CT 07,CT 12,CT Other,ST 3,ST 5,ST Other,Label
21125,63,37,0,160,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,SmartTag (nearby)

### Raw Data

In [10]:
raw_data = pd.read_csv('../data_for_markov_model/rawData_SmartTag_(nearby).csv')
raw_data.head(3)

,Number,Time,Source,Destination,Protocol,Channel,Length Packet,Length Header,AD Type,Company ID,MS Data,UUID,Service Data,PDU
0,1,1.713044e+09,58:ff:a1:b7:57:1b,ff:ff:ff:ff:ff:ff,LE LL,39,36,10,16-bit Service Class UUIDs,NaN,NaN,Google,NaN,ADV_SCAN_IND
1,2,1.713044e+09,58:ff:a1:b7:57:1b,ff:ff:ff:ff:ff:ff,LE LL,37,36,10,16-bit Service Class UUIDs,NaN,NaN,Google,NaN,ADV_SCAN_IND
2,3,1.713044e+09,58:ff:a1:b7:57:1b,ff:ff:ff:ff:ff:ff,LE LL,38,36,10,16-bit Service Class UUIDs,NaN,NaN,Google,NaN,ADV_SCAN_IND

In [11]:
# check data size
print("data size: ", raw_data.shape)

# check unique values for each column
# 各値のユニークな値の個数も表示して
for column in raw_data.columns:
    unique_values = raw_data[column].unique()
    unique_count = len(unique_values)
    print(f'Column: {column}')
    print(f'Unique values count: {unique_count}')
    print(f'Unique values: {unique_values}')
    print('---')

data size:  (463790, 14)
Column: Number
Unique values count: 463790
Unique values: [     1      2      3 ... 463788 463789 463790]
---
Column: Time
Unique values count: 463706
Unique values: [1.71304358e+09 1.71304358e+09 1.71304358e+09 ... 1.71308677e+09
 1.71308677e+09 1.71308677e+09]
---
Column: Source
Unique values count: 253
Unique values: ['58:ff:a1:b7:57:1b' '5e:22:e5:7c:a3:d6' '73:9f:d4:fd:0b:69'
 '51:0c:f7:3c:9f:31' '5c:13:dd:92:39:29' '7c:e9:65:22:93:52'
 '64:66:88:41:f2:05' '75:3d:c8:bf:a2:e7' '4a:b2:67:20:78:0c'
 '57:24:fe:ef:a0:f5' '44:61:f2:6a:2e:f1' '42:72:57:f9:f6:49'
 '7f:d3:8a:4e:33:b5' '57:9a:cc:20:70:80' '60:ed:51:3d:a1:7b'
 '68:8c:0f:7d:22:3f' '7d:99:2c:a9:77:c4' '73:ae:02:92:8c:25'
 '5d:e8:0f:df:f5:bc' '64:25:3f:7f:2b:b3' '5c:10:3b:7a:8d:47'
 '42:4d:f3:cc:9a:6e' '4c:5b:ae:49:8e:ef' '56:13:60:df:7c:da'
 '4f:a9:c0:2f:1c:a4' '78:31:42:69:05:31' '58:42:a4:18:b7:e9'
 '6f:c5:46:90:2b:1f' '53:bf:ca:12:28:ec' '6c:63:8f:c6:7a:3c'
 '4c:48:bb:59:e7:82' '70:db:43:16:df:bf' '58:7d:bc:cb:67:d3'
 '66:c7:54:21:1a:19' '70:a3:55:01:f0:f9' '7f:c4:50:04:db:ed'
 '5e:64:2e:de:74:aa' '58:2c:bb:75:12:e8' '73:0c:bc:83:e4:19'
 '72:d4:69:5c:a6:e2' '68:4d:70:eb:be:6f' '7d:b8:dd:04:97:89'
 '66:47:ce:68:d9:1b' '42:9c:2f:3f:2e:91' '59:5f:3c:1b:2a:49'
 '59:92:08:ee:85:ce' '59:2d:ea:49:1c:01' '51:67:9b:20:e0:be'
 '7a:7c:8a:73:cc:f6' '79:e8:63:6e:4b:c3' '71:9f:c8:fb:6c:77'
 '56:db:16:91:58:3b' '54:30:c0:b4:7f:63' '64:db:43:eb:f9:cc'
 '7b:a0:1b:2d:c1:81' '70:f3:bf:79:87:bc' '5a:e7:d7:a0:97:3e'
 '4b:40:e5:c8:99:48' '76:4f:a1:07:a8:6e' '63:53:e1:1f:08:95'
 '5e:77:78:22:8b:77' '4f:74:6d:d0:88:32' '6f:31:75:66:b1:09'
 '79:1f:40:5d:5a:94' '53:b9:58:35:f4:08' '49:dc:69:93:94:a3'
 '7e:db:22:9c:60:d8' '6b:8a:dc:68:9e:17' '69:61:f5:56:df:1b'
 '7a:26:45:66:97:01' '40:b0:b5:a0:3e:06' '62:e5:d6:5b:6a:61'
 '6a:7d:66:f8:a9:d0' '6e:3f:41:7b:f7:a5' '7f:7d:0e:69:80:55'
 '54:95:27:b6:d5:e9' '68:c0:8b:78:c1:6f' '71:a0:1b:ea:21:ce'
 '58:94:6f:a6:43:9c' '46:aa:35:29:5f:49' '61:39:ff:8f:77:43'
 '44:db:c3:b1:ca:4b' '5f:3e:25:aa:27:1e' '65:18:06:e7:23:af'
 '47:82:64:00:9b:6b' '53:5a:42:ba:df:0a' '6f:85:ef:8e:be:94'
 '4b:df:2e:1c:eb:e7' '4c:80:09:34:16:46' '72:aa:48:74:2a:7b'
 '50:0c:00:be:13:91' '52:bc:46:c0:03:81' '62:fc:cf:62:fd:05'
 '42:f8:d2:2f:01:7d' '5e:bc:7b:87:41:b6' '5d:de:6a:9a:a0:12'
 '4f:35:a6:cf:2b:52' '4c:70:05:ef:94:57' '47:7f:bc:66:2e:26'
 '73:b4:14:a3:56:76' '60:5f:a4:74:20:c6' '68:e9:08:f5:83:ad'
 '55:37:3b:bb:6a:73' '76:26:36:c7:6b:38' '4e:8e:54:12:13:3b'
 '45:bd:0d:53:06:08' '72:08:d6:24:a2:8c' '65:ba:0c:45:80:a6'
 '50:ea:58:f2:fd:01' '52:70:91:f9:ba:d5' '6f:a6:be:f1:da:7c'
 '73:c0:f5:fe:a1:00' '6f:01:4c:90:f1:56' '70:fe:46:d0:11:10'
 '7a:75:9f:48:3f:89' '41:40:c3:31:96:84' '6b:8c:5c:da:30:ab'
 '72:4a:be:1d:5b:34' '77:7f:57:80:09:7c' '64:ea:36:51:f5:4d'
 '4c:96:8a:12:5a:19' '53:54:a6:7d:0b:3b' '63:34:9e:e8:f7:db'
 '63:1d:2d:33:cb:48' '49:f3:55:89:04:c5' '4f:e2:c8:81:f1:f6'
 '70:33:9d:20:38:7d' '6e:9c:78:97:27:4d' '57:ea:e2:dc:60:f9'
 '52:23:30:67:89:77' '55:cb:96:d6:47:ff' '75:b1:57:c6:95:41'
 '54:d9:9f:cd:c4:b4' '7a:ae:2e:ac:2d:14' '4f:71:21:15:78:44'
 '78:bc:c9:38:11:7a' '46:5f:36:a6:9d:c5' '68:74:24:ac:78:8a'
 '4b:d0:40:d0:a8:ab' '72:f9:e0:dc:21:ba' '4b:b3:37:c3:94:ad'
 '7b:9e:fe:48:0b:f1' '79:64:36:8d:28:47' '7b:de:4e:ca:ba:c2'
 '77:58:83:b3:36:5e' '49:c3:94:91:5a:ee' '69:5b:c3:91:96:c4'
 '6a:fa:39:f9:a6:69' '5a:a6:e1:52:71:39' '51:11:bf:07:75:57'
 '43:38:91:a2:f6:e5' '4a:9c:83:88:d5:7c' '47:0b:24:dd:c3:ca'
 '73:dd:61:4a:4d:91' '7a:d1:7a:35:c7:70' '70:d6:55:28:59:72'
 '5a:09:04:2b:94:8f' '76:fd:4c:8e:ac:55' '6e:a9:90:48:ca:74'
 '50:0f:f6:3d:ba:4d' '4d:10:a0:fc:e7:3c' '48:be:1e:c3:a6:4c'
 '55:28:a5:c7:a3:d8' '58:e3:3b:e8:3b:22' '60:d1:cc:8d:7e:dc'
 '29:81:e5:f8:f2:1e' '44:16:f4:6a:1f:20' '69:eb:ff:bc:21:6c'
 '6d:61:1c:07:22:17' '46:ea:7a:b7:b7:d7' '67:fa:6f:e0:03:f6'
 '64:b8:62:ef:c1:14' '4b:f4:6e:93:59:af' '50:14:04:31:c0:c6'
 '79:f8:71:94:6e:63' '65:30:a1:2c:17:02' '58:85:fc:44:d6:6b'
 '6e:e1:0e:fc:11:48' '70:ae:9c:44:23:d3' '6a:2a:6f:23:5d:d5'
 '71:db:a1:aa:0f:29' '57:e8:9a:34:0d:28' '44:6d:41:b0:79:b1'
 '4b:af:e9:09:bb:dd' '47:dc:94:0b:50:5f' '65:f3:59:cb:19:1c'
 '4a:63:97:35:36:c2' '5b:55:13:c0:d3:da' '7d:0b:74:1c:5f:14'
 '42:37:21:51:0a:db' '4e:ab:77:b9:f0:e0' '5c:e7:ad:47:07:ac'
 '4a:6f:4b:31:14:a8' '7a:d9:e9:be:06:c7' '73:bf:9a:cb:2e:6a'
 '7e:04:72:57:c1:1d' '4f:e0:96:67:0d:67' '6b:8f:ac:d3:01:85'
 '6c:24:3d:30:22:59' '75:c0:cb:ae:9b:3a' '62:8a:16:d6:bd:45'
 '7c:58:c3:fa:d9:02' '41:cd:24:87:37:77' '6d:47:da:54:ae:f7'
 '72:76:1c:0e:c9:34' '6b:cd:73:13:3d:af' '5a:53:c0:c8:8a:9c'
 '5b:00:bd:12:29:bf' '5a:a1:12:0b:d3:22' '43:81:46:92:21:75'
 '67:74:f7:a0:b3:3b' '70:ec:85:d6:78:ce' '71:57:68:3e:90:46'
 '54:61:2b:75:f5:2e' '69:1b:84:04:c8:ff' '63:7b:6a:33:0a:f3'
 '5c:28:77:43:52:41' '7a:e4:fa:ab:fe:d4' '73:51:15:f8:1b:70'
 '65:62:70:20:3e:77' '75:34:69:35:f5:b9' '62:3c:87:25:62:54'
 '4f:74:90:ef:90:6c' '62:8e:30:a1:cc:2f' '51:97:9a:28:1b:a9'
 '51:17:9a:28:1b:a9' '69:13:f9:9b:35:6c' '69:83:35:db:2f:6d'
 '47:5c:5c:30:e7:25' '7a:64:32:b9:47:5d' '7c:31:da:7e:db:e0'
 '41:2f:dd:c5:b1:e4' '67:16:05:eb:c9:d5' '4d:a9:ee:e7:dc:58'
 '4a:23:f8:66:fd:dc' '53:cd:00:f8:93:13' '47:f3:58:9b:7b:09'
 '61:f8:16:89:a7:55' '63:39:84:3c:c5:70' '62:ba:da:2e:84:52'
 '71:bf:1b:c4:3c:f3' '4f:eb:d6:46:f0:a5' '45:4e:00:a9:a6:67'
 '85:4e:00:a9:a6:67' '56:ef:93:1d:44:12' '60:fb:23:8d:f6:36'
 '49:6b:cc:10:4a:8a' '41:80:a3:a2:8b:7f' '43:4c:94:12:53:c1'
 '4d:38:c9:06:bf:40' '64:e2:49:77:66:55' '68:73:d1:1c:3e:7d'
 '46:9b:65:36:b0:34']
---
Column: Destination
Unique values count: 47
Unique values: ['ff:ff:ff:ff:ff:ff' '73:9f:d4:fd:0b:69' '75:3d:c8:bf:a2:e7'
 '60:ed:51:3d:a1:7b' '64:25:3f:7f:2b:b3' '4f:a9:c0:2f:1c:a4'
 '58:7d:bc:cb:67:d3' '73:0c:bc:83:e4:19' '42:9c:2f:3f:2e:91'
 '51:67:9b:20:e0:be' '54:30:c0:b4:7f:63' '5e:77:78:22:8b:77'
 '53:b9:58:35:f4:08' '7a:26:45:66:97:01' '7f:7d:0e:69:80:55'
 '61:39:ff:8f:77:43' '6f:85:ef:8e:be:94' '52:bc:46:c0:03:81'
 '4c:70:05:ef:94:57' '55:37:3b:bb:6a:73' '65:ba:0c:45:80:a6'
 '6f:01:4c:90:f1:56' '72:4a:be:1d:5b:34' '63:34:9e:e8:f7:db'
 '57:ea:e2:dc:60:f9' '7a:ae:2e:ac:2d:14' '68:74:24:ac:78:8a'
 '77:58:83:b3:36:5e' '51:11:bf:07:75:57' '47:0b:24:dd:c3:ca'
 '6e:a9:90:48:ca:74' '55:28:a5:c7:a3:d8' '6d:61:1c:07:22:17'
 '79:f8:71:94:6e:63' '6a:2a:6f:23:5d:d5' '47:dc:94:0b:50:5f'
 '4a:6f:4b:31:14:a8' '75:c0:cb:ae:9b:3a' '6b:cd:73:13:3d:af'
 '70:ec:85:d6:78:ce' '5c:28:77:43:52:41' '62:3c:87:25:62:54'
 '69:83:35:db:2f:6d' '67:16:05:eb:c9:d5' '63:39:84:3c:c5:70'
 '45:4e:00:a9:a6:67' '43:4c:94:12:53:c1']
---
Column: Protocol
Unique values count: 1
Unique values: ['LE LL']
---
Column: Channel
Unique values count: 3
Unique values: [39 37 38]
---
Column: Length Packet
Unique values count: 7
Unique values: [ 36  63  38  32  41  61 119]
---
Column: Length Header
Unique values count: 7
Unique values: [10 37 12  6 15 35 93]
---
Column: AD Type
Unique values count: 16
Unique values: ['16-bit Service Class UUIDs'
 'Flags,16-bit Service Class UUIDs (incomplete),Service Data - 16 bit UUID'
 nan
 'Flags,16-bit Service Class UUIDs (incomplete),Device ID / Security Manager TK Value,0x7d'
 'Service Data - 16 bit UUID' 'Flags'
 'Flags,16-bit Service Class UUIDs (incomplete),0x3a'
 'Flags,16-bit Service Class UUIDs (incomplete),0x9c'
 'Flags,16-bit Service Class UUIDs,Device Name (shortened),Manufacturer Specific'
 'Flags,16-bit Service Class UUIDs,Device Name (shortened),0xef'
 'Flags,16-bit Service Class UUIDs (incomplete),0xf6'
 'Flags,16-bit Service Class UUIDs (incomplete),0xae' '0xfa' 'Flags,0x7a'
 'Flags,0x2e' '0xcf']
---
Column: Company ID
Unique values count: 2
Unique values: [nan 'Samsung Electronics Co. Ltd.']
---
Column: MS Data
Unique values count: 5
Unique values: [nan '437d6e17ddf80064ae315e15f68a434142eb9d4413e1' '005350454e3032'
 'bb1e26d3276f1e2cb4adb164f74be2b243e8cfbb2357'
 'b7f8a7fdfe02beab0790fc85bca524fec6c3e1f3dd0b']
---
Column: UUID
Unique values count: 9
Unique values: ['Google' 'Samsung Electronics Co., Ltd.,Samsung Electronics Co., Ltd.'
 nan 'Samsung Electronics Co., Ltd.' '0xbc5a' '0x3d5a'
 'Samsung Electronics Co., Ltd.,0x815a'
 'Samsung Electronics Co., Ltd.,Dialog Semiconductor GmbH'
 'Samsung Electronics Co., Ltd.,0x06bc']
---
Column: Service Data
Unique values count: 70
Unique values: [nan '15350602ce36b9d77ddad314b7000000ecda7817'
 '1536060205894e7964c0324db70000008c2653d8'
 '15f6d1143647d104d7acd9fd072676d90056d5e5'
 '15370602f695631a6797b732b700000042fbc0a5'
 '15370602f695631a6797b732b700000042ebc64d'
 '15380602029c711e8a8226c4b7000000f8a44903'
 '15390602cb6f1cb5e597f52eb700000018f94b99'
 '153a06028086d28d0f43d039b70000002441ce67'
 '153b0602ac80e8d42183ab66b70000001d87616b'
 '153c060210800200557daeb5b700000037faea98'
 '153c060210800200557daeb5b70000b82e23387a'
 '153d0602dc58b061f5cebe1cb7000000fe46d2e1'
 '153d0602dc58b061f5cebe1cb70020b8227bec10'
 '153e060266669ac25e0d2277b7000000a4e723a4'
 '153f060296bd9648d52f20f3b7000000f6e74c53'
 '15400602801f407efba7e137b70000000cbeb975' '200f8c6b22'
 '15410602bb6360ad612a596cb700000039d189c6'
 '154206025ff7c35944fa8664b7000000068ba764'
 '154306026b5e9e6fea7ec8b5b7000000514e8b6c'
 '15440602ff89a541aae83c86b700000066505538' '2034415394'
 '154506023acb531d672b44dab700000005892988'
 '154606021d7ce618aefd6fa5b7000000a5695165'
 '15470602f7ca79468f8d56c3b70000002e15b996'
 '15480602697891773e73584fb700000059980884'
 '15490602fe3b1f5facf89f1ab7000000589552ce'
 '154a06020eeaa8b0cf9dde65b700000077c2b5d3'
 '154b06024ab67510843dd30cb7000000c02b0033'
 '154c0602c022f62b490bc0a9b700000029f2491a'
 '8a4d8c7a1651f4f6ad28c016b890eda7da317119'
 '154c06028dd1474ce3ae57f15b1dbc130af4b068'
 '154d06022fca4c0320361d2cb7000000aedda750'
 '154e0602dcf4f537fa78c0a5b70000007262c20b'
 '154e0602dcf4f537fa78c0a5b70000007262224c'
 '154f0602713d32189c0df355b70000006e895a1e'
 '154f0602713d32189c9f968162be63e44db69f3a'
 '1550060246956c43ccab2ca8b7000000d656fdac'
 '15d0f959352170b0a866641f7efa493a4fecc7e2'
 '1551060277c7bb73c6ab4b3eb7000000d6470222'
 '15520602c0c27fd3e6c99244b70000000af1dea4'
 '15530602ba5bbd78f8172dc5b70000006c87b8ef'
 '155406021208f16c322436c7b7000000f1348f44'
 '155406021208f16c325c91491e011767de09af59'
 '155506023c9419543e89a1c6b70000008542f33c'
 '155506023c9419543e89a1c6b700a080b2f87868'
 '15560602cbf8019fc578bf02b7000000040d2a2c'
 '155706026246f21b23e01b92b7000000f3b313c8'
 '1558060280d3934a5b5f7bf9b700000068d97663'
 '155906029a8942e4e55007d0b70000008646e2a6'
 '155a06020ffa595e6b9d3e60b7000000d3be8024'
 '155b060232a9fde706b7376db7000000c16010dc'
 'ad9d4ea0699bd70bb9b5ae19156798982d881cd3'
 '155b060232a9fde706b7073205837c65ccea69cc' '20e7117c27'
 '155c0602c71ecd7a9681eee8b70000001fb64514'
 '155d0602c7c21dd568ab3f2cb700000001e9ee24'
 '155e0602d62c77cdfc0c4e34b70000004a267401'
 '155f0602372dc4b4c05ee878b700000076b32b7a'
 '155f06029c351c2c505ec63ed12e96bd18b69311'
 '15600602acb3297b77a2247ab700000083ad8305'
 '15600602acb3297b77a2247ab70000bb9e28fe76'
 '156106028a1f33250822eb2cb70000005b070c95'
 '15620602ca236c22b2c1c265b700000060cba87b'
 '15630602102699659ed8f9f8b7000000e25fba89'
 '1563c6a5727b9f23254111460d56e97b8fa6921a'
 '15630602102699659ed879adc455b92134093f96'
 '1564060297894f53ec1661cfb70000008245549b'
 '156506025a9ac8eebf59b8e2b700000091c15445']
---
Column: PDU
Unique values count: 5
Unique values: ['ADV_SCAN_IND' 'ADV_IND' 'SCAN_REQ' 'SCAN_RSP'
 'ADV_IND[Malformed Packet]']
---

In [12]:
# check unique values for each column
# 各値のユニークな値の個数も表示して
for column in df.columns:
    unique_values = df[column].unique()
    unique_count = len(unique_values)
    print(f'Column: {column}')
    print(f'Unique values count: {unique_count}')
    print(f'Unique values: {unique_values}')
    print('---')

Column: Length Packet
Unique values count: 4
Unique values: [63 32 36 38]
---
Column: Length Header
Unique values count: 3
Unique values: [37  6 12]
---
Column: Length MS Data
Unique values count: 2
Unique values: [  0 176]
---
Column: Length Service Data
Unique values count: 2
Unique values: [160   0]
---
Column: CH 37
Unique values count: 2
Unique values: [1 0]
---
Column: CH 38
Unique values count: 2
Unique values: [0 1]
---
Column: CH 39
Unique values count: 2
Unique values: [0 1]
---
Column: AD Manufacturer Specific
Unique values count: 1
Unique values: [0]
---
Column: AD Flags
Unique values count: 2
Unique values: [1 0]
---
Column: AD Tx Power Level
Unique values count: 1
Unique values: [0]
---
Column: AD Service Data - 16 bit UUID
Unique values count: 2
Unique values: [1 0]
---
Column: AD 16-bit Service Class UUIDs
Unique values count: 1
Unique values: [0]
---
Column: AD 16-bit Service Class UUIDs (incomplete)
Unique values count: 2
Unique values: [1 0]
---
Column: AD Other
Unique values count: 3
Unique values: [0 1 2]
---
Column: COMP Apple
Unique values count: 1
Unique values: [0]
---
Column: COMP Other
Unique values count: 1
Unique values: [0]
---
Column: UUID Samsung
Unique values count: 3
Unique values: [2 0 1]
---
Column: UUID Tile
Unique values count: 1
Unique values: [0]
---
Column: UUID Other
Unique values count: 2
Unique values: [0 1]
---
Column: PDU ADV_IND
Unique values count: 2
Unique values: [1 0]
---
Column: PDU ADV_NONCONN_IND
Unique values count: 1
Unique values: [0]
---
Column: PDU ADV_SCAN_IND
Unique values count: 1
Unique values: [0]
---
Column: PDU Other
Unique values count: 2
Unique values: [0 1]
---
Column: CT 07
Unique values count: 1
Unique values: [0]
---
Column: CT 12
Unique values count: 1
Unique values: [0]
---
Column: CT Other
Unique values count: 1
Unique values: [0]
---
Column: ST 3
Unique values count: 1
Unique values: [0]
---
Column: ST 5
Unique values count: 2
Unique values: [1 0]
---
Column: ST Other
Unique values count: 2
Unique values: [0 1]
---
Column: Label
Unique values count: 1
Unique values: ['SmartTag (nearby)']
---

In [13]:
# Filter data where 'Length Packet' is 36
length_packet_36_raw_data = raw_data[raw_data['Length Packet'] == 36]
print(length_packet_36_raw_data)

        Number          Time             Source        Destination Protocol  \
0            1  1.713044e+09  58:ff:a1:b7:57:1b  ff:ff:ff:ff:ff:ff    LE LL
1            2  1.713044e+09  58:ff:a1:b7:57:1b  ff:ff:ff:ff:ff:ff    LE LL
2            3  1.713044e+09  58:ff:a1:b7:57:1b  ff:ff:ff:ff:ff:ff    LE LL
3            4  1.713044e+09  58:ff:a1:b7:57:1b  ff:ff:ff:ff:ff:ff    LE LL
5            6  1.713044e+09  58:ff:a1:b7:57:1b  ff:ff:ff:ff:ff:ff    LE LL
...        ...           ...                ...                ...      ...
463785  463786  1.713087e+09  68:73:d1:1c:3e:7d  ff:ff:ff:ff:ff:ff    LE LL
463786  463787  1.713087e+09  68:73:d1:1c:3e:7d  ff:ff:ff:ff:ff:ff    LE LL
463787  463788  1.713087e+09  68:73:d1:1c:3e:7d  ff:ff:ff:ff:ff:ff    LE LL
463788  463789  1.713087e+09  68:73:d1:1c:3e:7d  ff:ff:ff:ff:ff:ff    LE LL
463789  463790  1.713087e+09  68:73:d1:1c:3e:7d  ff:ff:ff:ff:ff:ff    LE LL

        Channel  Length Packet  Length Header                     AD Type  \
0            39             36             10  16-bit Service Class UUIDs
1            37             36             10  16-bit Service Class UUIDs
2            38             36             10  16-bit Service Class UUIDs
3            39             36             10  16-bit Service Class UUIDs
5            38             36             10  16-bit Service Class UUIDs
...         ...            ...            ...                         ...
463785       38             36             10  16-bit Service Class UUIDs
463786       39             36             10  16-bit Service Class UUIDs
463787       37             36             10  16-bit Service Class UUIDs
463788       38             36             10  16-bit Service Class UUIDs
463789       39             36             10  16-bit Service Class UUIDs

       Company ID MS Data    UUID Service Data           PDU
0             NaN     NaN  Google          NaN  ADV_SCAN_IND
1             NaN     NaN  Google          NaN  ADV_SCAN_IND
2             NaN     NaN  Google          NaN  ADV_SCAN_IND
3             NaN     NaN  Google          NaN  ADV_SCAN_IND
5             NaN     NaN  Google          NaN  ADV_SCAN_IND
...           ...     ...     ...          ...           ...
463785        NaN     NaN  Google          NaN  ADV_SCAN_IND
463786        NaN     NaN  Google          NaN  ADV_SCAN_IND
463787        NaN     NaN  Google          NaN  ADV_SCAN_IND
463788        NaN     NaN  Google          NaN  ADV_SCAN_IND
463789        NaN     NaN  Google          NaN  ADV_SCAN_IND

[436106 rows x 14 columns]

## Generate Synthetic Data

In [14]:
print(df.columns)

Index(['Length Packet', 'Length Header', 'Length MS Data',
       'Length Service Data', 'CH 37', 'CH 38', 'CH 39',
       'AD Manufacturer Specific', 'AD Flags', 'AD Tx Power Level',
       'AD Service Data - 16 bit UUID', 'AD 16-bit Service Class UUIDs',
       'AD 16-bit Service Class UUIDs (incomplete)', 'AD Other', 'COMP Apple',
       'COMP Other', 'UUID Samsung', 'UUID Tile', 'UUID Other', 'PDU ADV_IND',
       'PDU ADV_NONCONN_IND', 'PDU ADV_SCAN_IND', 'PDU Other', 'CT 07',
       'CT 12', 'CT Other', 'ST 3', 'ST 5', 'ST Other', 'Label'],
      dtype='object')

### Generate Synthetic Data
- Length Header
- Length Service Data
- CH37, CH38, CH 39
- AD Flags, AD Service Data - 16 bit UUID, AD 16-bit Service Class UUIDs (incomplete), AD Other
- UUID Samsung
- UUID Other? 要チェック
- PDU ADV_IND, PDU Other
- ST 5
- ST Othe? 要チェック

### NOT generate synthetic Data
- Length Packet (Length Header + 26)
- Length MS DATA (0)
- AD Manufacturer Specific(0)
- AD Tx Power Level(0)
- AD 16-bit Service Class UUIDs (0)
- COMP Apple (0)
- Comp Other (0)
- UUID Tile (0)
- PDU ADV_NONCONN_IND(0)
- PDU ADV_SCAN_IND(0)
- CT 07 (0)
- CY 12 (0)
- CT Other (0)
- ST 3 (0)
- Label (SmartTag (nearby))

In [ ]:
### Global variables ###
target_df = pd.DataFrame() # data frame storing the data which is used for markov model
synthetic_data_df = pd.DataFrame() # data frame storing the synthetic data generated by the markov model

seed = 0 # seed for random number generator

number_of_synthetic_data = 10

In [ ]:
def generate_transition_matrix(target_df):
    """
    Generate transition matrix
    
    target_df: data frame storing the data which is used for markov model

    Return the transition matrix
    """

    # calculate the number of transitions (遷移回数を計算)
    state_counts = {}
    for i in range(len(target_df) - 1):
        current_state = target_df['state'].iloc[i]
        next_state = target_df['state'].iloc[i + 1]

        if current_state not in state_counts:
            state_counts[current_state] = {}
        if next_state not in state_counts[current_state]:
            state_counts[current_state][next_state] = 0
        state_counts[current_state][next_state] += 1

    # create transition matrix
    transition_matrix = {}
    for current_state, transitions in state_counts.items():
        total_transitions = sum(transitions.values())
        transition_matrix[current_state] = {
            next_state: count / total_transitions
            for next_state, count in transitions.items()
        }

    return transition_matrix

def generate_synthetic_data_by_mm(seed, transition_matrix, number_of_synthetic_data, initial_state, columns):
    """
    Generate synthetic data by the markov model

    seed: seed for random number generator
    transition_matrix: transition matrix
    number_of_synthetic_data: number of synthetic data to generate
    initial_state: initial state of the synthetic data
    columns: columns of the synthetic data

    Return synthetic data generated by the markov model as data frame
    """
    if seed is not None:
        random.seed(seed)

    current_state = initial_state
    generated_data = [current_state]

    for _ in range(number_of_synthetic_data - 1):
        if current_state not in transition_matrix:
            break
        next_state = random.choices(
            population=list(transition_matrix[current_state].keys()),
            weights=list(transition_matrix[current_state].values()),
            k=1
        )[0]
        generated_data.append(next_state)
        current_state = next_state

    generated_df = pd.DataFrame(generated_data, columns=columns)
    return generated_df

### Channel (CH 37, CH 38, CH 39)

In [ ]:
# Define the column which are used for the Markov model (各行を「状態」としてまとめる)
target_df['state'] = list(zip(df['CH 37'], df['CH 38'], df['CH 39']))

# Define the columns names
columns=['CH 37', 'CH 38', 'CH 39']

# Define initial state. The first state of the data is used as the initial state.
initial_state = target_df['state'].iloc[0]

# Generate transition matrix
transition_matrix = generate_transition_matrix(target_df)

# Generate synthetic data
synthetic_data_df = generate_synthetic_data_by_mm(seed, transition_matrix, number_of_synthetic_data, initial_state, columns)
print(synthetic_data_df)

{(1, 0, 0): {(0, 1, 0): 0.2958824746534244, (1, 0, 0): 0.6054210635216222, (0, 0, 1): 0.09869646182495345}, (0, 1, 0): {(1, 0, 0): 0.6012578616352201, (0, 1, 0): 0.29881201956673653, (0, 0, 1): 0.09993011879804332}, (0, 0, 1): {(1, 0, 0): 0.5950482584976919, (0, 1, 0): 0.30507763323541753, (0, 0, 1): 0.09987410826689047}}
   CH 37  CH 38  CH 39
0      1      0      0
1      0      1      0
2      1      0      0
3      1      0      0
4      1      0      0
5      1      0      0
6      1      0      0
7      1      0      0
8      0      1      0
9      1      0      0

In [32]:
# 遷移確率行列をデータフレームに変換する関数
def transition_matrix_to_dataframe(transition_matrix):
    # 状態のリストを作成
    all_states = list(transition_matrix.keys())
    for transitions in transition_matrix.values():
        all_states.extend(transitions.keys())
    all_states = sorted(set(all_states))  # 重複を削除してソート
    
    # データフレームを作成
    df = pd.DataFrame(0.0, index=all_states, columns=all_states)
    
    for current_state, transitions in transition_matrix.items():
        for next_state, probability in transitions.items():
            df.at[current_state, next_state] = probability
    
    return df

# 遷移確率行列をデータフレームとして整形
transition_matrix_df = transition_matrix_to_dataframe(transition_matrix)

# 遷移確率行列を表示
print("遷移確率行列:")
print(transition_matrix_df)

遷移確率行列:
           (0, 0, 1)  (0, 1, 0)  (1, 0, 0)
(0, 0, 1)   0.099874   0.305078   0.595048
(0, 1, 0)   0.099930   0.298812   0.601258
(1, 0, 0)   0.098696   0.295882   0.605421

In [33]:
type(transition_matrix_df)

pandas.core.frame.DataFrame

In [39]:
transition_matrix_np = transition_matrix_df.to_numpy()
print(transition_matrix_np)

[[0.09987411 0.30507763 0.59504826]
 [0.09993012 0.29881202 0.60125786]
 [0.09869646 0.29588247 0.60542106]]

In [50]:
import numpy as np
from graphviz import Digraph


def Graphviz(transition_matrix_np, node_label):
    """
    Graphvizを使用して状態遷移図を可視化する。

    Parameters:
    - transition_matrix_np: 遷移確率行列 (numpy array)
    - node_label: ノードのラベル (list of str)

    Returns:
    - g: Graphviz の Digraph オブジェクト
    """
    states = transition_matrix_np.shape[0]  # 状態数
    g = Digraph()

    # ノードを追加
    for i in range(states):
        g.node(str(i), label=node_label[i])

    # エッジを追加
    for i in range(states):
        for j in range(states):
            weight = transition_matrix_np[i, j]  # 遷移確率
            if weight > 0:  # 確率が0より大きい場合のみ描画
                g.edge(str(i), str(j), label=f"{weight:.2f}")

    return g

# サンプルデータ
transition_matrix_np = np.array([
    [0.09987411, 0.30507763, 0.59504826],
    [0.09993012, 0.29881202, 0.60125786],
    [0.09869646, 0.29588247, 0.60542106]
])

node_label = ['CH 37', 'CH 38', 'CH 39']

# グラフの生成
g = Graphviz(transition_matrix_np, node_label)

# ノートブック上で表示
display(g)